




/*
.color-primary-0 { color: #557A65 }	
.color-primary-1 { color: #D9E0DC }
.color-primary-4 { color: #0F3D23 }





label{
	color:#F3F2F0;
}

textarea{
	border-radius: 1em;
	display: block;
	padding: 0.5em 0em 0.5em 0.5em;
	outline: none;
	margin-bottom: 2em;

}

textarea:focus{
	 box-shadow: inset 0 0 3px 2px #f90;
}


#body{
	padding-top: 4em;
	margin: 0 auto;
	width:75%;
}

#body h1{
	margin: 0 auto;
	display: inline-block;
}

#profile-picture img{
	width: 6em;
	height: 6em;
	border-radius: 1em;
}



#person div{
	display: inline-block;
}

#user-details{
	margin-left: 2em;
}

#secret-data{
	float: right;
}

#posts p{
	background-color:#556A65 ;
	border-radius: 1em;
	display: inline-block;
	padding: 0.5em;
}



#request{
	display:none;
}

#update-register{
	background-color: white;
	color:black;
	width:auto;
	display: inline-block;
	padding:1em;
	border-radius: 2em;
	margin-left: 10em;
	margin-bottom: 2em;
}

#update-register:hover{
	background-color: black;
	color:white;
	cursor: pointer;
}

#userInfo textarea{
	display: inline;
}*/