@import 'vars';
@font-face {
    font-family: 'Open Sans';
    src: url(../font-awesome-4.3.0/OpenSans-Regular.ttf);
}

html{
	font-family: 'Open Sans', sans-serif;
}
header{
	text-align: center;
	padding: 0.2em;
	height: auto;
	font-size: 3em;	
	background-color: $header-color;
}

nav{
	list-style: none;
	text-align: center;
	width: 100%;
	background-color: $nav-color;
	ul{
		margin:0;
		padding:1em;
		
		li{
			display:inline;
			a{
				text-decoration: none;
				color:#0F3D23;
				font-size: 2em;
				margin-left: 1em;
				&:hover{
					text-decoration: underline;
				}
			}
		}

	}

}
section{
	margin:1em 3em 4em 3em;
}

input,textarea{
	width:100%;
	border-radius: 0.5em;
	padding: 0.5em 0em 0.5em 0.5em;
	outline: none;
	border:0.2em solid #550000;
	&:focus{
		border: 0.22em solid $header-color;
 	}
 	&:required:invalid{
 		border-color: #550000;
 	}
 	&:valid{
 		border-color: #2F4A9B;
 	}
}

/*input:required:invalid, input:focus:invalid {
   insert your own styles for invalid form input 
  -moz-box-shadow: none;
}
*/
img{
	width:100%;
	height: 100%;
	border-radius: 0.5em;
}
button{
	border-radius: 0.5em;
	width:100%;
	height: 100%;
	background-color:white;
	border:0.1em solid $header-color;
	font-size: 1em;
	&:hover{
		background-color:$header-color;
		border-color: white;
	}
	&:focus {outline:0;}

}
.sent{
	background-color:$header-color;
	color:white;
}
.user_post{
	background-color: #bbbbbb;
	border-radius: 0.5em;
	padding: 0.2em 1em 0.2em 1em;

	.post_date{
		font-size: 0.5em;
		float:right;
	}
}
a{
	text-decoration: none;
	color:black;
	&:hover{
		border-color:$nav-color;
	}
}
#search-label {
    position: relative;
}

#search-label .fa-search {
    color: #666;
    top: 2px;
    left: 5px;
    position: absolute;
}

#search_friends {
    padding-left: 20px;
}


input[type=radio],
input[type='checkbox'] {
  display: none;
}
input[type=radio] + label {
  display: block;
}
input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 8px;
  width: 23px;
}
input[type=radio] + label:before {
  content: "\f10c"; /* Radio Unchecked */
}
#myRadio:checked + label:before {
  content: "\f139"; /* Radio Checked */
}

#myRadio1:checked + label:before {
  content: "\f13a"; /* Radio Checked */
}

.radio label,
.checkbox label {
  padding-left: 0;
}
#secret_data{
	display:none;
}
#new_post{
	display:none;
}
#myForm{
    height: 0;
    overflow: hidden;
}

@-webkit-keyframes slide /* Safari and Chrome */
{
	from {height: 0px;}
	to {height: 5em;}
}

.animateForm{
	-moz-animation: slide 0.5s ease 0.5s forwards;
   -webkit-animation: slide 0.5s ease 0.5s forwards;
   -o-animation: slide 0.5s ease 0.5s forwards;
   -ms-animation: slide 0.5s ease 0.5s forwards;
    animation: slide 0.5s ease 0.5s forwards;
}

#userFile{
	display:none;
}
 